#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("./assets/metallic-blue-rods-3.png");
  background-size: cover; /* Ensure the image covers the area */
  background-position: center; /* Center the background */
  min-height: 100vh;
}
